/******************************************
GENERAL
*******************************************/
body {/*everything on the site will use Open Sans except h1*/
  font-family: 'Open Sans', sans-serif;
}

#wrapper {/*select the div waraper*/
  max-width: 940px; /*could be smaller than 940 if 
                      browser < 400px*/
  margin: 0 auto; /*spacing around the element, 
                    fill in the left over pixels*/
  padding: 0 5%; /*1st: top and bottom, 2nd: left& right, 
                   5% of total width of wrapper element*/
}

/*links*/
a {
  text-decoration: none; /*no undelines for links*/
}

img {/*1st step of a responsive web design*/
  max-width: 100%;/*fill the width of parent continer, fluid image*/
}

h3 {/*ensure that about is always seperated*/
  margin: 0 0 1em 0; 
}

/*not be able to click when on a desktop*/
@media screen and (min-width: 660px) { 
   a[href*="tel:"] {
       pointer-events: none;
       cursor:default;
       text-decoration: none;
   }
}

/******************************************
HEADING
*******************************************/

header {
  float: left;
  margin: 0 0 10px 0; /*space around element T R B L clock wise*/
  padding: 5px 0 0 0; /*space around element content*/
  width: 100%; /*since its a float we need to
                 speciffically say to fill the page*/

}

#logo {
  text-align: center;
  margin: 0; /*no spacing around edges*/
}

h1 {
  font-family: 'Changa One', sans-serif;
  margin: 15px 0;
  font-size: 1.75em; /*1em == 16px or default size*/
  font-weight: normal; /*unbold the headline*/
  line-height: 0.8em; /*amount of space between each line of text*/
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0; /*1st set the top, 2nd sets the L&R, 3rd sets bootm*/
  font-weight: normal; /*unbold txt*/
}


/******************************************
NAVIGATION
*******************************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none; /*just in case*/
  margin: 0 5px; /*no margin for T & B*/
  padding: 0; /*remove padding*/
}


nav li { /*put list elements inline with one another*/
  display: inline-block; 
}

nav a { /*set the anchors*/
  font-weight: 800;
  padding: 15px 10px; /*make it easier to click*/
}

/******************************************
FOOTER
*******************************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both; /*be free, logos will be clear on both sides*/
  padding-top: 50px; /*another way to say only want padding on top*/
  color: #ccc; /*grey*/
}

/*the images were created double the size they need
 *to be, because they will look sharper on high res. 
 *displayes that have double pixel density
 *when you resize them down with css the pixels 
 *will still be there for high res. displayes*/
.social-icon {
  width: 40px;
  height: 40px;
  margin: 0 5px;
}

/******************************************
PAGE: PORTOLIO
*******************************************/

#gallery { /*gallery as a whole*/
  /*remove the margin & padding*/
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none; /*no bullet points*/
}

#gallery li {/*each li in gallery*/
  display: inline-block;
  position: relative;
  float: left; /*position elements: side by side*/
  width: 100%; /*each image will only take up 45% of total 
               *width of parent it doesnt matter if in browser or phone
               *45*2 = 90, we have 2 images side-by-side with 
               *10% extra root to use to create space*/
  margin: 2.5%; /*2.5% space by each side of picture, 2.5 * 4 = 10
                 *used all the extra space evenly*/
  background-color: #f5f5f5; /*white smoke*/
  color:  #bdc3c7; /*grey*/
}

#gallery li:hover span.description {
  opacity: 1;
}

#gallery li a p { /*style the paragraphs*/
  margin: 0;
  padding: 5%;
  font-size:  0.75em;
  color: #bdc3c7; /*light grey*/
}

.description {
  width: 100%;
}

span.description {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
  opacity: 0;

  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/******************************************
PAGE: ABOUT
*******************************************/
.profile-photo {
  display: block; /*alow us to use auto margins*/
  max-width: 150px;
  margin: 0 auto 30px; /*center on page*/
  border-radius: 100%; /*allows to add rounded corners to pics*/
}


/******************************************
PAGE: CONTACT
*******************************************/
.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block; /*each anchor elements will take up space*/
  min-height: 20px; /*min height for icon to be visible*/
  background-repeat: no-repeat; /*always repeat by default, only display once*/
  background-size: 20px 20px; /*images need to be smaller they were made larger, 
                                the will become sharper as they get smaller*/
  padding: 0 0 0 30px;  /*give space for icons to stay in*/
  margin: 0 0 10px; /*give space between them*/
}
.contact-info li.phone a { /*select the anchor element*/
  background-image: url('../img/phone.png');
}

.contact-info li.mail a { /*select the anchor element*/
  background-image: url('../img/mail.png');
}

/******************************************
Project Pictures
*******************************************/
.project-photo {
  width: 250px;
  height: 350px;
  margin: 0 5px;
}

.project-logo {
  border: 1px;
  width: 150px;
  height: 150px;
  margin: 0 5px;
}

#project-logo{
  text-align: center;
}

/*#project-photos{
  text-align: center;
}*/

/******************************************
COLORS
*******************************************/

body {/*site body*/
  background-color: #fff; /*just incase to make sure its while*/
  color: #999; /*gray*/
}

header {
  background: #0499F3; /* 6ab47b green* #599a68*/
  border-color: #0499F3;
}

h1, h2 {
  color: #fff; /*white*/
}

/*background on mobile devices*/
nav {
  background: #0DAEEF; /* 599a68  green*/
}

/*color for nav link*/
nav a, nav a:visited { /*stay white even if they have not visited yet */
  color: #fff;
}

/*selected nav link*/
nav a:hover {
  color: #0375EE; /*RGB dark blue*/

}

/*nav a:visited {
  color: #0375EE;
}*/

/*links*/
a {
  color: #6ab47b;
}














