
/*if screen is larger than 480px apply these styles*/
@media screen and (min-width: 300px){
 
  /******************************************
    MODAL CUSTOMIZATION
  *******************************************/ 
.img-responsive {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
  /******************************************
    TWO COLUMN LAYOUT
  *******************************************/

  #primary{
    width: 50%;
    float: left;
  }

  #secondary {
    width: 40%;
    float: right; /*incase we end up with unexpected 
                   *browser issues*/
  }

  /******************************************
   each element has a mrgin of 2.5 on each side
   so 2.5 + 2.5 = 5
   3 * 5 = 15 space taken by the margin
   100 - 15% = 85% space taken up by images
   85 / 3 = 28.33333333 there will be 3 columns
  *******************************************/

  /******************************************
    PAGE: PORTFOLIO
  *******************************************/
  #gallery li {
    width: 28.3333%;
  }

  /*apply the styling to every 
   *this will select the 4th item, 
   *7th item, 10th item, and so on.*/
  #gallery li:nth-child(3n+1){ 
    clear: left; no floating elements allowed to the left side
  }

  /******************************************
    PAGE: ABOUT
  *******************************************/
  .profile-photo {
    float: left;
    /*80px incase txt wraps around the bottom of image
     *5% to separate the txt*/
    margin: 0 5% 80px 0;
  }

}/*end media*/


@media screen and (min-width: 660px) {

  /******************************************
    MODAL CUSTOMIZATION
  *******************************************/ 
  .modal-xl {
    width: 90%;
    max-width: 1200px;
    text-align: center;

  }

  .img-responsive {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  /******************************************
  HEADER
  *******************************************/

  nav {
    background: none; /*txt sits agaist header background*/
    float: right;
    font-size:  1.125em;
    margin-right: 5%; 
    text-align: right; /*align all txt to right*/
    width: 45%;

  }

  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 0.825em;
    margin-bottom: 20px; /*put a little space between the backboard*/
  }

  header {
    border-bottom: 5px solid #0375EE;
    margin-bottom: 60px;
  }

  
}/*end media*/